{{> header }}

{{> navbar }}

<div class="row">

    <div class="col-8">
        <h1>Kairos Software Solutions</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis itaque, similique animi hic repellendus quisquam unde cupiditate minus voluptatum quia odit sint iste obcaecati? Quod dolorem rerum odio et deleniti.
        </p>
    </div>

    <div class="col-4">
        <img src="assets/img/Kairos.png" class="img-thumbnail" width="300" height="100">
    </div>

</div>

{{> footer }}